/*
    DEPENDENCY IMPORTS
*/
/*
    STYLESHEET IMPORTS
*/
/*******************
    VARIABLES
********************/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Quattrocento+Sans:400,400italic,700,700italic);
.btn,
button {
  text-decoration: none;
  color: #fff;
  background: #02995C;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 3px;
  outline: 0;
  cursor: pointer;
  padding: 0.5em 2em;
  display: inline-block;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  transition: background 0.2s; }

.btn:hover, .btn:focus,
button:hover, button:focus {
  color: #fff;
  background: #03cb7a;
  text-decoration: none; }

.btn-raised {
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.3); }

.btn-raised:hover, .btn-raised:focus {
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3); }

.btn-action {
  background: #b21d00; }

.btn-action:hover, .btn-action:focus {
  background: #e52500; }

.btn-lg {
  width: 100%;
  padding: 1em 2em;
  text-transform: uppercase;
  letter-spacing: 1px; }

.btn-disable {
  background: #d1d1d1 !important;
  cursor: default; }

.card-wrapper {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  float: right;
  margin: 1em; }

.card {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin: 0 auto;
  border-radius: 4px;
  padding: 0;
  background: #02995C;
  color: #fff;
  position: relative;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.16);
  margin-bottom: 1em; }
  .card a {
    margin-right: 1em;
    color: #fff; }
  .card a:hover {
    color: #fff; }
  .card h4 {
    margin: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7); }
  .card .card-title {
    padding: 1em 1em 0 1em;
    position: relative; }
  .card .card-text,
  .card .card-action {
    padding: 1em; }
    .card .card-text p,
    .card .card-action p {
      margin: 0; }
  .card .card-title-image {
    height: 180px;
    position: relative;
    overflow: hidden; }
    .card .card-title-image img {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      min-height: 180px;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      padding: 0; }

.card-header {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1em; }

.collection {
  width: 100%;
  border: 1px solid #dbdbdb;
  padding: 0; }
  .collection li {
    padding: 1em 2em;
    list-style-type: none;
    width: 100%; }
    .collection li:first-of-type {
      background: #f1f1f1; }
    .collection li:not(:last-of-type) {
      border-bottom: 1px solid #dbdbdb; }
  .collection h5 {
    margin: 0; }

.media-collection li {
  padding: 0;
  margin: 0;
  overflow: hidden; }
  .media-collection li img {
    border-radius: 50%;
    float: left;
    padding: 1em;
    width: 100px; }
  .media-collection li .title {
    font-size: 1.2rem;
    font-weight: 700; }
  .media-collection li p {
    padding: 0;
    margin: 0; }

.media-collection li:nth-of-type(odd) {
  background: #fcfcfc; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 100%;
  margin: 0;
  padding: 0; }

header {
  margin-top: 0 !important;
  overflow: hidden; }

.hero {
  width: 100%;
  height: 360px;
  color: #fff;
  border-radius: 6px;
  overflow: hidden;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7); }

div.banner {
  margin-top: 0; }

.row {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.414em;
  margin-top: 1.414em; }
  .row:after {
    content: " ";
    display: block;
    clear: both; }
  .row .one-col {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; }
  .row .two-col-even {
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; }
  .row .one-third-col {
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; }
  .row .two-third-col {
    width: 66.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; }
  .row .four-col {
    width: 25%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; }

.logo-row {
  margin-bottom: 0; }

.full-width-row {
  background: #ededed;
  padding: 1.414em 0; }

.bg {
  background: #f9f9ef;
  text-align: center;
  padding: 0.2em; }

.no-bg {
  background-color: transparent;
  text-align: center; }

.ad-style-right {
  float: right;
  margin: 1em 0 1em 2em;
  padding: 0.5em; }

.ad-style-reg {
  text-align: center;
  margin: 1em;
  margin-top: 3em; }

.child-body {
  background: #fff; }
  .child-body .content {
    padding: 2em 2em;
    margin-top: 0em;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    margin-top: -6em; }

.page-head {
  margin: 3em 0 8em; }

footer {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  background: #353433;
  font-size: 0.9rem;
  border-top: 4px solid #222222; }
  footer .footer-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em 1em;
    color: #fff; }
    footer .footer-container:after {
      content: " ";
      display: block;
      clear: both; }
    footer .footer-container span {
      vertical-align: middle; }

a, i {
  vertical-align: middle; }

img {
  border-radius: 4px; }

#location {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  height: 250px; }

/**********************
    Google Fonts   
***********************/
/*
        Montserrat: Normal 400, Bold 700
        Quattrocento Sans: Normal 400, Normal 400 italic, Bold 700, Bold 700 Italic
    */
html {
  font-size: 1em; }

body {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333; }

p {
  margin-bottom: 1.3em; }

a {
  color: #02995C;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  margin: 1.414em 0 0.5em;
  font-family: Montserrat, sans-serif;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 3.0em; }

.logo {
  margin: 1em 0 0 0; }

.heroText {
  margin-top: 2em;
  text-align: center; }

.subHeroText {
  margin-top: 0;
  text-align: center; }

.headline {
  display: block;
  border-bottom: 1px dotted #ebebeb;
  margin-bottom: 1em; }
  .headline h1, .headline h2, .headline h3, .headline h4, .headline h5, .headline h6 {
    display: inline-block;
    margin-bottom: 0;
    border-bottom: 2px solid #02995C; }

h2 {
  font-size: 2.4em; }

h3 {
  font-size: 1.999em; }

h4 {
  font-size: 1.414em; }

h5 {
  font-size: 1.212em; }

.subtitle {
  color: #01673e; }

h6 {
  font-size: 1.099em; }

/*
    Blockquotes
*/
blockquote {
  margin: 1em 0;
  padding-left: 1.5rem;
  border-left: 5px solid #03cb7a; }

.tab-container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  height: 0;
  padding: 0;
  position: relative;
  border-bottom: 5px solid #e5e5e5; }
  .tab-container:after {
    content: " ";
    display: block;
    clear: both; }

.tappi-menu-tab {
  width: 160px;
  text-align: center;
  padding: 1em 0.5em 0.5em;
  background: #e5e5e5;
  border-radius: 6px;
  cursor: pointer;
  position: absolute;
  top: -5px;
  right: 0; }

.tappi-menu-wrapper {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  background: #e5e5e5;
  position: absolute;
  top: 0;
  font-size: 0.8rem;
  z-index: 9999;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3); }

.tappi-menu {
  overflow: hidden; }
  .tappi-menu ul {
    list-style: none; }

.main-nav {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto; }
  .main-nav:after {
    content: " ";
    display: block;
    clear: both; }
  .main-nav a {
    color: #333; }
  .main-nav a:hover {
    text-decoration: none; }

.main-nav > ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none; }

.main-nav > ul > li {
  display: inline;
  float: left;
  padding: 1em 0.2em;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  transition: background 0.2s; }

.main-nav > ul > li > a:hover {
  color: #02995C;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }

.main-nav > ul > li > a {
  width: 100%;
  padding: 1em 2.5em 1em 0;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  cursor: pointer; }

.submenu {
  margin: 0;
  margin-left: -2em;
  padding: 1em 5em 1em 2em;
  position: absolute;
  list-style: none;
  margin-top: 14px;
  background: #f4f4f4;
  border-top: 2px solid #02995C;
  -moz-transition: opacity 0.4s 0s, visibility 0s 0s;
  -o-transition: opacity 0.4s 0s, visibility 0s 0s;
  -webkit-transition: opacity 0.4s 0s, visibility 0s 0s;
  transition: opacity 0.4s 0s, visibility 0s 0s;
  z-index: 1; }
  .submenu li {
    margin-bottom: 0.5em; }
  .submenu a:hover {
    color: #02995C; }

.main-nav .material-icons {
  font-size: 18px;
  line-height: 0;
  font-weight: bold; }

a.selected {
  color: #02995C; }

.submenu-is-active {
  visibility: visible;
  opacity: 1;
  background: #e5e5e5;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  -o-transition: opacity 0.3s 0s, visibility 0s 0s;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s; }

.is-hidden {
  visibility: hidden;
  opacity: 0; }

.global-nav-is-hidden {
  display: none; }

.main-nav-sticky {
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 999; }

footer ul {
  list-style: none;
  padding: 1em 0;
  margin: 0; }

footer li {
  display: inline;
  margin: 0.5em 0 0.5em 0.5em; }

/* 
    GLOBAL STYLES
*/
body {
  background: #fdfdfd; }
