@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<footer>
    <div class="footer-container">
        <div class="row">
            <div class="two-col-even">
                <img src="~/App/img/TAPPI-logo-white.png" width="150" />
                <span>Copyright 2015 &copy; TAPPI</span>
                <div class="row">
                    <ul>
                        <li><a href="#">Antitrust Policy</a></li>
                        <li><a href="#">More Information</a></li>
                        <li><a href="#">Social Media Policy</a></li>
                        <li><a href="#">TAPPI Community</a></li>
                    </ul>
                </div>
            </div>
            <div class="two-col-even">

            </div>
        </div>
    </div>
</footer>
