@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<footer>
    <div class="footer-container">
        <div class="row">
            <div class="one-third-col">
                <img src="~/App/img/TAPPI-logo-white.png" width="150" />
                <p>We are a not for profit, volunteer-led association that is built around a community comprised of thousands of member engineers, managers, scientists, academics, suppliers and others from around the world.</p>
            </div>
            <div class="two-third-col">
            </div>
        </div>
        <div class="row">
            <ul>
                <li>Copyright 2015 &copy; TAPPI</li>
                <li><a href="http://www.tappi.org/Footer/Antitrust-Policy.aspx" target="_blank">TAPPI Antitrust Policy</a></li>
                <li><a href="http://www.tappi.org/Footer/Link-Policy.aspx" target="_blank">TAPPI Link Policy</a></li>
                <li><a href="http://www.tappi.org/Footer/Privacy-Policy.aspx" target="_blank">TAPPI Privacy Policy</a></li>
                <li><a href="http://community.tappi.org/welcome.htm" target="_blank">TAPPI Community</a></li>
            </ul>
        </div>
    </div>
</footer>
