@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<footer>
    <div class="footer-container">
        <div class="row">
            <div class="one-third-col">
                <img src="~/App/img/TAPPI-logo-white.png" width="150" />
                <p>We are a not for profit, volunteer-led association that is built around a community comprised of thousands of member engineers, managers, scientists, academics, suppliers and others from around the world.</p>
                <p>Copyright 2015 &copy; TAPPI</p>
            </div>
            <div class="two-third-col">
                <article class="one-third-col">
                    <h5>Get Involved</h5>
                </article>
                <article class="one-third-col">
                    <h5>About TAPPI</h5>
                </article>
                <article class="one-third-col">
                    <h5>Social Media</h5>
                </article>
            </div>
        </div>
        <div class="row">
            <ul>
                <li><a href="#">Antitrust Policy</a></li>
                <li><a href="#">More Information</a></li>
                <li><a href="#">Social Media Policy</a></li>
                <li><a href="#">TAPPI Community</a></li>
            </ul>
        </div>
    </div>
</footer>
