@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<section class="event-program">
    <ol class="sessions">
        <li class="single-session day">
            <time class="day-start">Monday, May 15</time>
        </li>
        <li class="single-session">
            <time>9:30am - 10:30am</time>
            <div class="session-description">
                <span>Welcome Breakfast</span>
            </div>
        </li>
    </ol>

    <ol class="sessions">
        <li class="single-session day">
            <time class="day-start">Tuesday, May 15</time>
        </li>
        <li class="single-session">
            <time>9:30am - 10:30am</time>
            <div class="session-description">
                <span>Welcome Breakfast</span>
            </div>
        </li>
        <li class="single-session">
            <time>9:30am - 10:30am</time>
            <div class="session-description">
                <span><h6>T1 - Tissue Market Overview</h6></span><br />
                <p>Session Chair: Ken Patrick, TAPPI</p>
                <span style="font-weight: bold;">"Market Trends, Industry Actions in North American Tissue"</span><br />
                <span><i>Soile Kilpe, Director, Poyry Management Consulting North America</i></span>
                <br /><br />
                <span style="font-weight: bold;">"Market Trends, Industry Actions in North American Tissue"</span><br />
                <span><i>Soile Kilpe, Director, Poyry Management Consulting North America</i></span>
            </div>
        </li>
        <li class="single-session">
            <time>9:30am - 10:30am</time>
            <div class="session-description">
                <span>Welcome Breakfast</span>
            </div>
        </li>
        <li class="single-session">
            <time>9:30am - 10:30am</time>
            <div class="session-description">
                <span>Welcome Breakfast</span>
            </div>
        </li>
        <li class="single-session">
            <time>9:30am - 10:30am</time>
            <div class="session-description">
                <span>Welcome Breakfast</span>
            </div>
        </li>
        <li class="single-session">
            <time>9:30am - 10:30am</time>
            <div class="session-description">
                <span>Welcome Breakfast</span>
            </div>
        </li>
    </ol>

    <ol class="sessions">
        <li class="single-session day">
            <time class="day-start">Tuesday, May 15</time>
        </li>
        <li class="single-session">
            <time>9:30am - 10:30am</time>
            <div class="session-description">
                <span>Welcome Breakfast</span>
            </div>
        </li>
        <li class="single-session">
            <time>9:30am - 10:30am</time>
            <div class="session-description">
                <span>Welcome Breakfast</span>
            </div>
        </li>
        <li class="single-session">
            <time>9:30am - 10:30am</time>
            <div class="session-description">
                <span>Welcome Breakfast</span>
            </div>
        </li>
        <li class="single-session">
            <time>9:30am - 10:30am</time>
            <div class="session-description">
                <span>Welcome Breakfast</span>
            </div>
        </li>
        <li class="single-session">
            <time>9:30am - 10:30am</time>
            <div class="session-description">
                <span>Welcome Breakfast</span>
            </div>
        </li>
        <li class="single-session">
            <time>9:30am - 10:30am</time>
            <div class="session-description">
                <span>Welcome Breakfast</span>
            </div>
        </li>
    </ol>
</section>
