// TAPPI Grid
//
// Using Susy, 12 columns with inside gutters 1/4 the size of the column

// Grid config

$susy: (
    columns: 12,
    gutters: 1/4,
    math: fluid,
    output: isolate,
    gutter-position: inside,
    global-box-sizing: border-box    
);

@include border-box-sizing;

.container {
    @include container(1140px);
}

.hero {
    @include span(12);
    height: 360px;
    color: #fff;
    border-radius: 6px;
}

.row {
    @include span(12);
    padding: 1em;

    .one-col {
        @include span(12);
    }

    .two-col-even {
        @include span(6);
    }

    .one-third-col {
        @include span(4);
    }

    .two-third-col {
        @include span(8);
    }

    .four-col {
        @include span(3);
    }

} // .row

// row styles
    .colored {
        background: #e5e5e5;
    }



// Footer

footer {
    @include span(12);
    background: #353433;
    font-size: 0.9rem;
    border-top: 4px solid #222222;

    .footer-container {
        @include container(1140px);
        padding: 1.5em 1em;
        color: #fff;

        span {
            vertical-align: middle;
        }
    }
}