// TAPPI Grid
//
// Using Susy, 12 columns with inside gutters 1/4 the size of the column

body, html {
    overflow-x: hidden;
}

// Grid config
$gutter-width: 1em;
$grid-padding: $gutter-width;

$susy: (
    columns: 12,
    gutters: 1/4,
    math: fluid,
    output: isolate,
    gutter-position: inside,
    global-box-sizing: border-box    
);

@include border-box-sizing;

.container {
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    margin-top: 0 !important;
    position: relative;
}

.hero {
    width: 100%;
    min-height: 200px;
    color: #fff;
    overflow: hidden;
    @include text-shadow();
}

div.banner {
    margin-top: 0;
    width: 100%;
}

.row {
    @include container(1300px);

    .one-col {
        @include span(12);
    }

    .two-col-even {
        @include span(6);
    }

    .one-third-col {
        @include span(4);
    }

    .two-third-col {
        @include span(8);
    }

    .four-col {
        @include span(3);
    }
    .three-fourth-col {
        @include span(9);
    }

} // .row

  main {
      margin: 1em;
      padding: 1em;
  }
  .content-block {
      background: #fff;
      @include box-shadow(0px,1px,7px,0px, rgba(0, 0, 0, 0.16));
      padding: 1em;
      margin-bottom: 1em;

      h4 {
          margin: 0 0 0.7em 1em;
          color: $primary-color;
      }

      .news-title {
          text-transform: uppercase;
          font-weight: 700;
          color: #514f52;
          opacity: 0.5;
      }
      .news-item {
          margin-left: 2em;
      }
  }


  .sign-up {
      text-align: center;
      padding: 2em;
      height: 100%;
      background: #fff;
      position: relative;
  }
  .sign-up::before {
      content: ""; 
        background: #fff;
        position:absolute;
        height: 150px;
        top: 0;
        width: 4000px;
        left: -2000px;
        z-index: -1;
  }

  .logo-row {
      margin-bottom: 0;
  }

// FULL WIDTH ROW
    .full-width-row {
        background: #ededed;
        padding: 1.414em 0;
        position: relative;
    }
    .bg {
        background: #f9f9ef;
        text-align: center;
        padding: 0.2em;
    }
    .child-bg {
        //background: $complimentary-color;
        height: 100%;
        position: relative;
        width: 100%;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    .child-bg:before {
        content: ""; 
        background: $complimentary-color;
        opacity: 0.6;
        position:absolute;
        height: 100%;
        width: 4000px;
        left: -2000px;
        z-index: -1;
    }
    .no-bg { 
        background-color: transparent;
        text-align: center;
    }
    .home-bg {
        height: 100%;
        position: relative;
        text-align: center;

        li {
            list-style-type: none;
        }
    }
    .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }
    .home-bg:before {
        content: ""; 
        background: #ebebeb;
        position:absolute;
        height: 100%;
        width: 4000px;
        left: -2000px;
        z-index: -1;
    }
    .home-bg-white {
        height: 100%;
        position: relative;
    }
    .home-bg-white:before {
        content: ""; 
        background: #fff;
        position:absolute;
        height: 100%;
        width: 4000px;
        left: -2000px;
        z-index: -1;
        border-top: 2px solid #fff;
    }

    .home-bg,
    .home-bg-white {
        h3 {
            padding-top: 1em;
            margin-top: 0;
        }
    }

// ADS

    // 960x150

    // 150x300
    .ad-style-right {
        float: right;
        margin: 0 0 0em 2em;
        padding: 0.5em;
        clear: both;
    }

    .ad-style-reg {
        text-align: center;
        margin: 1em;
        margin-top: 3em;
    }

    // 150x120


// CHILD STYLES

.child-body {
    .content {
        //@include box-shadow();
        margin-top: -6em; 
        background: #fff;
        padding: 45px;
        @include box-shadow();


        .row {
            padding: 1em;
            margin: 0;
        }
    }
}

.page-head {
    padding: 3em 0 0 0;
    margin: 0 0 8em;
}

// Footer

footer {
    @include span(12);
    background: #353433;
    font-size: 0.9rem;
    border-top: 4px solid #222222;

    .footer-container {
        @include container(1140px);
        padding: 1.5em 1em;
        color: #b7b7b7;
        font-size: 0.8rem;

        span {
            vertical-align: middle;
        }

        a {
            color: #fff;
        }
    }
}

.news {
    a {
        display: none;
    }

    .title-wrap {
        float: left;
    }
     
    height: 56px;
    
}