// Media Items
//
//


// Icons

a, i {
    vertical-align: middle;
}

i {
    //padding: 0;
    //margin: 0;
}

// Images

img {
    border-radius: 4px;
}

// Google Map

#location {
    @include span(12);
    height: 250px;
}

// Sponsors

.sponsors {
    position: relative;
    text-align: center;
    
    img {
        width: 200px !important;
        height: auto !important;
        vertical-align: middle;
        margin: 1em;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.6;
        @include transition(filter 0.2s);
        @include transition(opacity 0.2s);
    }
    img:hover,
    img:focus {
        opacity: 1;
        -webkit-filter: grayscale(20%);
        filter: grayscale(20%);
    }
}

.tappi-logo-section {
  position: absolute;
  left: -7em;
  top: 75%;
  z-index: -5;
  width: 300px !important;
}

// Forms

.form-group {
    display: inline-block;
    margin-right: 10px;
}

input {
    padding: 12px;
        border: 1px solid #ccc;
}

form {
    padding-top: 1em;
}