// Media Items
//
//


// Icons

a, i {
    vertical-align: middle;
}

i {
    padding: 0;
    margin: 0;
}

// Images

img {
    border-radius: 4px;
}

// Google Map

#location {
    @include span(12);
    height: 250px;
}