// Navigation
// 
// Site-wide navigation

// - TAPPI Global Navigation widget
// - Main Navigation
//    + Parent Navigation
//      > Sub-menu
//  - Sticky Navigation
//  - Mobile Navigation
//  - Footer


// TAPPI Global Navigation Widget

.tab-container {
    @include span(12);
    height: 0;
    padding:0;
    border-bottom: 5px solid #e5e5e5;
}

.tappi-menu-tab {
    @include span(12 of 12);
    text-align: center;
    padding: 0;
    background: #e5e5e5;
    border-radius: 0;
    cursor: pointer;

    .tab-target {
        position: absolute;
        top: 0;
        right: 15%;
        background: #e5e5e5;
        padding: 1em;
        
        img {
            vertical-align: middle;
        }

        i {
            padding-top: 10px;
        }
    }
    .tab-target:hover, tab-target:focus {
        i {
            color: $primary-color;
        }
    }
}

.tappi-menu-wrapper {
    @include span(12);
    background: #e5e5e5;
    position: absolute;
    top: 0;
    font-size: 0.8rem;
    z-index: 9999;
    @include box-shadow();
    position: fixed;
}

.tappi-menu {
    overflow: hidden;
    margin-top: 1em;

    ul {
        list-style: none;
    }

    .events,
    .divisions {
        li {
            &:first-of-type {
                border-bottom: 1px solid #c5c5c5; 
            }

            border-bottom: 1px solid #d7d7d7;
            text-align: center;
            padding: 0.8em 1em;

            a {
                padding: 1em 5em;
            }
        }
    }
}

.mobile-target {
    padding: 1.5em;
    height: 70px;
    background: $primary-color;
    color: #fff;
    text-align: center;
    cursor: pointer;
    z-index: 999;
    position: relative;
    top: 46px;
    right:0;
    display: none;

    .material-icons {
        font-size: 2em;
    }

    span {
        vertical-align: middle;
        float: right;
    }

    img{
        width:50px;
        float: left;
        position:relative;
        top: -12px;
    }
}

.mobile-nav-wrapper {
    position: relative;

}

.mobile-nav {
    width: 100%;
    position: relative;
    right: 0;
    top: 45px;
    z-index: 9999;
    background: #2c3136;
    display: none;

    a, a:hover, a:focus {
        color: #fff;
        cursor: pointer;
        padding: 0 20em 0 0;
    }

    i {
        float: right;
        padding: 0 1em;
    }

    ul {
        width: 100%;
        margin: 0;
        list-style: none;
        padding: 0;
        display: block;
        position: relative;

        li {
            clear: both;
            padding: 1em 2em;
        }

        .has-children {
            padding: 1em 0;

            a {
                padding: 0 2em;
            }
        }
    }

    .submenu {
        width: 100%;
        background: #1c1f22;
        margin-top: 1em;
        border: none;
        padding-bottom: 1em;
        //display: none;

        li {
            padding: 0;
            margin: 0;
            padding-top: 1em;
        }
    }
    .is-hidden {
        display: none;
    }
}

#mobile-nav {

    .row {
        margin: 0;

        .one-third-col {
            padding-right: 0;
            padding-left: 0;
            width: 100%;
            text-align: center;
        }
    }

    .selected {
        width: 100%;
        color: #fff;
    }


}


// Main Navigation

.main-nav {
    @include container(1140px);
    margin: 0 auto;

    a {
        color: $font-color;
    }
    a:hover {
        text-decoration: none;
    }
}

.nav-fixed {
    position: fixed !important;
    top: 0;
}


// Parent Navigation

  .main-nav > ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

  .main-nav > ul > li {
      display: inline-block;
      padding: 1em 0.2em;
      @include transition(background 0.2s);

      &:first-of-type {
          background: #fff;
          margin-right: 1em;

          a {
              padding: 0 1em 1em 1em;
          }
      }
  }
  .main-nav > ul > li > a:hover {
      //background: #e5e5e5;
        color: $primary-color;
        @include transition(color 0.2s); 
  }

    .main-nav > ul > li > a {
      width: 100%;
      padding: 1em 2.5em 1em 0;
      @include transition(color 0.2s); 
      cursor: pointer;
      font-size: 1.05rem;
  }

    .submenu:first-of-type {
        margin-left: 0;
    }

  .submenu {
      margin: 0;
      padding: 1.5em 2em 1em 2em;
      position: absolute;
      list-style: none;
      margin-top: 14px;
      background: #fff;
      @include transition(opacity .4s 0s, visibility 0s 0s);
      @include box-shadow(0px, 6px, 8px, 0px, rgba(0,0,0,.3), false);
      z-index: 9999;
      display: inline-block;

      li {
          margin-bottom: 0.5em;
      }

      a:hover {
          color: $primary-color;
          text-decoration: underline;
      }

      .row {
          width: 100%;
          margin: 0.5em 0;
      }

      .one-third-col {
          width: auto;
          border-right: 1px solid #ccc;
          padding: 0;
          padding-left: 2em;
      }

      .one-third-col:last-of-type {
          margin: 0;
          border: none;
      }
      .one-third-col:first-of-type {
          padding: 0;
          padding-right: 2em;
      }
  }

  .main-nav .material-icons {
      font-size: 18px;
      line-height: 0;
      font-weight: bold;
  }

  a.selected {
       color: $primary-color;
  }



  // Navigation Dropdown

  .submenu-is-active {
      visibility: visible;
      opacity: 1;
      background: #e5e5e5;
      @include transition(opacity .3s 0s, visibility 0s 0s);
  }

  .is-hidden {
      visibility: hidden;
      opacity: 0;
  }

  .global-nav-is-hidden {
      display: none;
  }


 // Sticky Navigation

 .main-nav-sticky {
     position: fixed;
     top: 0;
     background: #fff;
     z-index: 999;
 }

 // Sidebar Navigation

 .sidebar {
     width: 100%;
     margin-right: 2em;
     padding-top: 1em;
     background: #fff; 
     font-size: 0.9rem;

     ul {
         list-style: none;
         padding: 0.5em 0 1em 0;
         margin: 0;
     }

     li {
         padding: 0.5em 2em 0.5em 2em;
         border-bottom: 1px solid #ebebeb;
     }

     h6 {
         padding-left: 1em;
         padding-bottom: 1em;
         margin-bottom: 0;
         border-bottom: 1px solid #d7d7d7;
     }


 }






 // Footer 

 footer {
     ul {
         list-style: none;
         padding: 1em 0;
         margin: 0;
         text-align: center;
     }
     li {
         display: inline;
         margin: 0.5em 0 0.5em 0.5em;
     }
     li:first-of-type {
         margin-right: 1em;
     }

     a {

     }
 }