// Navigation
// 
// Site-wide navigation

// - TAPPI Global Navigation widget
// - Main Navigation
//    + Parent Navigation
//      > Sub-menu
//  - Sticky Navigation
//  - Mobile Navigation
//  - Footer


// TAPPI Global Navigation Widget

.tab-container {
    @include span(12);
    height: 0;
    padding:0;
    border-bottom: 5px solid #e5e5e5;
}

.tappi-menu-tab {
    @include span(12 of 12);
    text-align: center;
    padding: 0;
    background: #e5e5e5;
    border-radius: 0;
    cursor: pointer;

    .tab-target {
        position: absolute;
        right: 15%;
        background: #e5e5e5;
        padding: 1em;
    }
}

.tappi-menu-wrapper {
    @include span(12);
    background: #e5e5e5;
    position: absolute;
    top: 0;
    font-size: 0.8rem;
    z-index: 9999;
    @include box-shadow();
    position: fixed;
}

.tappi-menu {
    overflow: hidden;
    ul {
        list-style: none;
    }
}

.mobile-target {
    padding: 1.5em;
    background: $primary-color;
    border: 1px solid #fff;
    color: #fff;
    text-align: right;
    cursor: pointer;
    z-index: 999;
    position: fixed;
    right:0;
    top: 65px;
    display: none;

    .material-icons {
        font-size: 2em;
        vertical-align: middle;
    }

    span {
        vertical-align: middle;
    }
}


// Main Navigation

.main-nav {
    @include container(1140px);
    margin: 0 auto;

    a {
        color: $font-color;
    }
    a:hover {
        text-decoration: none;
    }
}

.nav-fixed {
    position: fixed !important;
    top: 0;
}


// Parent Navigation

  .main-nav > ul {
        margin: 0;
        padding: 0;
        float: left;
        list-style: none;
        @include span(12 of 12);
    }

  .main-nav > ul > li {
      display: inline;
      float: left;
      padding: 1em 0.2em;
      @include transition(background 0.2s);

      &:last-of-type {
          text-align: center;
          float: right;
          padding: 0;

          a {
              background: $complimentary-color;
              color: white;
              padding: 0.5em 2em;
              @include transition(box-shadow 0.2s);
              border-radius: 5px;
          }
          a:hover {
              color: white;
              @include box-shadow();
          }
      }
  }
  .main-nav > ul > li > a:hover {
      //background: #e5e5e5;
        color: $primary-color;
        @include transition(color 0.2s); 
  }

    .main-nav > ul > li > a {
      width: 100%;
      padding: 1em 2.5em 1em 0;
      @include transition(color 0.2s); 
      cursor: pointer;
  }

  .submenu {
      margin: 0;
      width: auto;
      margin-left: -2em;
      padding: 1em 2em 1em 2em;
      position: absolute;
      list-style: none;
      margin-top: 14px;
      background: #f4f4f4;
      border-top: 2px solid $primary-color;
      @include transition(opacity .4s 0s, visibility 0s 0s);
      @include box-shadow(0px, 3px, 8px, 0px, rgba(0,0,0,.3), false);
      z-index: 1;

      li {
          margin-bottom: 0.5em;
      }

      a:hover {
          color: $primary-color;
      }

      .row {
          width: 100%;
          margin: 0.5em 0;
      }

      .one-third-col {
          width: auto;
          padding-right: 4em;
      }
  }

  .main-nav .material-icons {
      font-size: 18px;
      line-height: 0;
      font-weight: bold;
  }

  a.selected {
       color: $primary-color;
  }



  // Navigation Dropdown

  .submenu-is-active {
      visibility: visible;
      opacity: 1;
      background: #e5e5e5;
      @include transition(opacity .3s 0s, visibility 0s 0s);
  }

  .is-hidden {
      visibility: hidden;
      opacity: 0;
  }

  .global-nav-is-hidden {
      display: none;
  }


 // Sticky Navigation

 .main-nav-sticky {
     position: fixed;
     top: 0;
     background: #fff;
     z-index: 999;
 }






 // Footer 

 footer {
     ul {
         list-style: none;
         padding: 1em 0;
         margin: 0;
     }
     li {
         display: inline;
         margin: 0.5em 0 0.5em 0.5em;
     }
 }