// Vendor Prefixes


// - Box Shadows
// - Text shadow
// - border-radius
// - gradient
// - transition


// BOX SHADOW

@mixin box-shadow($top: 0px, $left:0px, $blur:5px, $size:1px, $color: rgba(0,0,0,.3), $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset, $top, $left, $blur, $size, $color;
        -moz-box-shadow:inset $top $left $blur $size $color;
        box-shadow:inset, $top, $left, $blur, $size, $color;
    } @else {
      
        box-shadow: $top $left $blur $size $color;
    }
}

// TEXT SHADOW

@mixin text-shadow($x: 1px, $y: 1px, $blur: 1px, $color: rgba(0,0,0,.7)) {
    text-shadow: $x $y $blur $color;
}


// TRANSITION

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}





