// Responsive Properties

// - Breakpoints
// - Navigation Behavior
// - Grid Behavior
// - Font/Text Behavior

$break: 790px 1140px;
$break2: 0px 1140px;
$break3: 0px 480px;
$threecol: 0px 789px;

$desktop: max-width 1140px;
$tablet: max-width 790px;
$mobile: max-width 480px;

html {
    @include breakpoint($desktop) {
        font-size: 0.938em !important;
    }
    @include breakpoint($tablet) {
        font-size: 0.875em !important;
    }
    @include breakpoint($mobile) {
        font-size: 0.813em !important;
    }
}

.one-third-col,
.two-third-col,
.two-col-even,
.three-fourth-col {
    @include breakpoint($tablet) {
        width: 100% !important;

        .card-title-image {
            height: 0 !important;
            border-top: 2px solid $complimentary-color;
    }

    
}
}

header {
    @include breakpoint($desktop) {
        width: 100%;

        .main-nav {
            width: 100%;
        }
        .main-nav > ul > li > a {
            font-size:1.55vw;
            padding: 1em 0.5em;
        }
        .main-nav > ul > li {
            padding: 1em 0;
        }
        .submenu {
            width: 100%;
            left: 0;
            right: 0;
        }
    }

    @include breakpoint($tablet) {
        display: none !important;
    }
}

.hero {

    @include breakpoint($desktop) {
        background-size: cover !important;
        border-radius: 0 !important;
        position: relative !important;
    }
}

@include breakpoint($desktop) {
        .container {
            position: relative;
            //top: 2em;
        }

    }

.card-title-image {
    @include breakpoint($desktop) {
        img {
            width: 100%;
            min-height: 1px;
        }
    }
}

.one-third-col {
    @include breakpoint($tablet) {
        @include span(12);
    }
}

ul.nav {
    @include breakpoint($tablet) {
        display: none;
    }
}

.tappi-menu-wrapper {
    @include breakpoint($tablet) {
        right: 0 !important;
        @include span(12);
        float: right;
        position: relative !important;

    }
}

.mobile-target {
    @include breakpoint($tablet) {
        display: block !important;
        width: 100% !important;
    }
}

@include breakpoint($desktop) {

    div.news {
        height: 82px;
        text-align: center;
    }

    .title-wrap {
        width: 100% !important;
        float: none;
    }

}

@include breakpoint($tablet) {

    .content {
        //width: 100% !important;
    }

    .sidebar {
        display: none !important;
    }

    main {
        padding: 0 !important;
    }

}