
/**********************
    Google Fonts   
***********************/

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Quattrocento+Sans:400,400italic,700,700italic);
    /*
        Montserrat: Normal 400, Bold 700
        Quattrocento Sans: Normal 400, Normal 400 italic, Bold 700, Bold 700 Italic
    */


html {
    font-size: 1em;
}

body {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 400;
    line-height: 1.45;
}

p {
    margin-bottom: 1.3em;
}

.main-nav > ul > li > a {
    font-weight: 400;
    text-transform: uppercase;
}
.main-nav {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
}
.submenu {
    font-size: 0.9rem;
}

a {
    color: $primary-color;
    @include transition(color 0.2s);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.414em 0 0.5em;
    font-family: Montserrat, sans-serif;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 3.0em;
}
.logo {
    margin: 1em 0 0 0;
}

.heroText {
    margin-top: 2em;
    text-align: center;
}
.subHeroText {
    margin-top: 0;
    text-align: center;
}

.page-head {
    margin-top: 0;
    padding-top: 3em;
}

.hero-gradient {
    width: 100%;
    height: 100%;
    background: rgba(110,110,110,0.6);
    background: -moz-radial-gradient(center, ellipse cover, rgba(110,110,110,0.6) 0%, rgba(209,209,209,0.6) 0%, rgba(219,219,219,0.44) 26%, rgba(254,254,254,0) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(110,110,110,0.6)), color-stop(0%, rgba(209,209,209,0.6)), color-stop(26%, rgba(219,219,219,0.44)), color-stop(100%, rgba(254,254,254,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(110,110,110,0.6) 0%, rgba(209,209,209,0.6) 0%, rgba(219,219,219,0.44) 26%, rgba(254,254,254,0) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(110,110,110,0.6) 0%, rgba(209,209,209,0.6) 0%, rgba(219,219,219,0.44) 26%, rgba(254,254,254,0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(110,110,110,0.6) 0%, rgba(209,209,209,0.6) 0%, rgba(219,219,219,0.44) 26%, rgba(254,254,254,0) 100%);
    background: radial-gradient(ellipse at center, rgba(110,110,110,0.6) 0%, rgba(209,209,209,0.6) 0%, rgba(219,219,219,0.44) 26%, rgba(254,254,254,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e6e6e', endColorstr='#fefefe', GradientType=1 );
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.999em;
}
.headline {
    text-align: center;
    border-bottom: 1px solid #d1d1d1;
}

h4 {
    font-size: 1.414em;
}

h5 {
    font-size: 1.212em;
}
.subtitle {
    color: $primary-color-dark;
}

h6 {
    font-size: 1.099em;
}

/*
    Blockquotes
*/

blockquote {
    margin: 1em 0;
    padding-left: 1.5rem;
    border-left: 5px solid $primary-color-light;
}
