/*
    Papercon styles
*/
// Logo

.logo-row {
    margin-top: 0 !important;
    
    img:first-of-type {
        position: absolute;
        z-index: -5;
        left: -1%;
        top: 4em;
    }

    img:nth-of-type(2) {
        width: 350px;
    }
}

/*
    DEPENDENCY IMPORTS
*/

@import "../bower_components/susy/sass/susy"; // Susy grid
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint"; // Breakpoints


/*
    STYLESHEET IMPORTS
*/

@import "variables/_papercon.scss"; 
@import "responsive";
@import "prefixes";
@import "buttons";
@import "cards";
@import "collections";
@import "grid";
@import "helpers";
@import "media";
@import "tables";
@import "type"; 
@import "nav"; 

/* 
    GLOBAL STYLES
*/

body {
    background: $body-bg;
    overflow-x: hidden;
}