/*
    Papercon styles
*/
// Logo

.logo-row {
    margin-top: 0 !important;
    padding-bottom: 1em;
    
    img:first-of-type {
        width: 360px;
    }

    img:nth-of-type(2) {
        position: absolute;
        z-index: -5;
        left: -1%;
        top: 10em;
    }

    img:nth-of-type(3) {
        position: absolute;
        top: 185px;
        right: 10%;
        width: 40%;
        z-index: 1;
    }
}

.mobile-target img {
    width: 220px !important;
    padding: 5px;
    background: rgba(255,255,255, 0.6);
}

.hero {
    height: 300px;
}


/*
    DEPENDENCY IMPORTS
*/

@import "../bower_components/susy/sass/susy"; // Susy grid
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint"; // Breakpoints


/*
    STYLESHEET IMPORTS
*/

@import "variables/_papercon.scss"; 
@import "responsive";
@import "prefixes";
@import "buttons";
@import "cards";
@import "collections";
@import "grid";
@import "helpers";
@import "media";
@import "tables";
@import "type"; 
@import "nav"; 

/* 
    GLOBAL STYLES
*/

body {
    background: $body-bg;
    overflow-x: hidden;
}