/*
    Papercon styles
*/

// Logo

.logo {
    margin-top: 0 !important;
    
    .papercon-circle {
        width: 350px;
        position: absolute;
        left: 5%;
        z-index: -2;
    }

    .papercon-logo {
        margin-top: 1em;
    }
}