/*
    SuperCorrExpo Styles
*/

@import "../bower_components/susy/sass/susy"; // Susy grid
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint"; // Breakpoints
@import "variables/_supercorr.scss"; 
@import "responsive";

h1.logo {
    margin: 0;
}

// Logo

.logo img {
    position: absolute;
    left: 38%;
    right: 35%;
    z-index: 999;
    padding-top: 0.5em;
    background: #fff;
}

// tappi tab
.tab-target {
    padding: 0;
    text-align: center;
    border-radius: 2px;

    img {
        width: 125px !important;
    }
}

// Video

video {
    margin-bottom: -0.5em;
    position: absolute;
    width: 100%;
}

.main-nav {
    display: none;
    height:59.5938px;
}

.main-nav > ul {
    position: relative;
    left: 10%;
    right: 10%;
}

.hero {
    height: 450px;
    position: relative;
    h3 {font-size: 1rem;}
    h1 {font-size: 3rem;}
    .two-col-even {
        padding: 0;
    }
    .one-third-col,
    .two-third-col {
        padding:0;
        height: 100%;
        overflow: hidden;
    }

    .hero-content {
        //background: rgba(67,68,68, 0.5);
        padding: 0 2em;
        h1, h3 {
            text-align: left;
        }
    }

    @include breakpoint($tablet) {
        height: 100%;
    }
}


/*
    STYLESHEET IMPORTS
*/

@import "prefixes";
@import "buttons";
@import "cards";
@import "collections";
@import "grid";
@import "helpers";
@import "media";
@import "tables";
@import "type"; 
@import "nav"; 

/* 
    GLOBAL STYLES
*/

body {
    background: $body-bg;
    overflow-x: hidden;
}