@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Home of TAPPI Event.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TAPPI Event</title>

        <!-- Styles & Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="~/css/style.css">
        <link rel="stylesheet" href="~/css/normalize.css">
    </head>
    <body>

        <!-- TAPPI global menu -->

            <div class="tappi-menu-wrapper">
                <div class="tappi-container global-nav-is-hidden">
                    <nav class="tappi-menu row">
                        <ul class="one-third-col">
                            <li><h4>TAPPI News</h4></li>
                            <li><img src="~/App/img/speaker1.jpg" width="75%" /></li>
                            <li><p>Visit TAPPI for more information on how you can benefit from our services. TAPPI is known for one-of-a-kind service and a vibrant community keen on learning more.</p></li>
                            <li><a class="btn" href="http://www.tappi.org/" target="_blank">Visit TAPPI</a></li>
                            <li><a href="#"></a></li>
                        </ul>
                        <ul class="one-third-col">
                            <li><h4>TAPPI Divisions</h4></li>
                            <li><a href="#">Nanotechnology</a></li>
                            <li><a href="#">Corrugated</a></li>
                            <li><a href="#">Pulp and Paper</a></li>
                            <li><a href="#">TAPPISAFE</a></li>
                            <li><a href="#">TAPPI Trees</a></li>
                        </ul>
                        <ul class="one-third-col">
                            <li><h4>TAPPI Events</h4></li>
                            <li><a href="#">PaperCon</a></li>
                            <li><a href="#">Nanotechnology</a></li>
                            <li><a href="#">PEERS/IBBC</a></li>
                            <li><a href="#">CorrExpo</a></li>
                            <li><a href="#">SuperCorrExpo</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="tab-container">
                    <div class="tappi-menu-tab">
                        <img src="~/App/img/TAPPI_logo.png" width="100" /> <i class="material-icons">keyboard_arrow_down</i>
                    </div>
                </div>

            </div>
 
        

        <!----------------------->
            <div class="container">
                <header>
                    <div class="row logo-row">
                        <h1 class="logo"><img src="~/App/img/TAPPI_logo.png" width="250" /></h1>
                    </div>
                    <nav class="main-nav">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="has-children">
                                <a>About <i class="material-icons">keyboard_arrow_down</i></a>
                                <ul class="submenu is-hidden">
                                    <li><a href="/about/">Test page</a></li>
                                    <li><a href="#">Test page</a></li>
                                    <li><a href="#">Test page</a></li>
                                    <li><a href="#">Test page</a></li>
                                </ul>
                            </li>
                            <li><a>Program <i class="material-icons">keyboard_arrow_down</i></a></li>
                            <li class="has-children">
                                <a>Attendees <i class="material-icons">keyboard_arrow_down</i></a>
                                <ul class="submenu is-hidden">
                                    <div class="row">
                                        <div class="one-third-col">
                                            <li><a href="#">Test page</a></li>
                                            <li><a href="#">Test page</a></li>
                                            <li><a href="#">Test page</a></li>
                                            <li><a href="#">Test page</a></li>
                                        </div>
                                        <div class="one-third-col">
                                            <li><a href="#">Test page</a></li>
                                            <li><a href="#">Test page</a></li>
                                            <li><a href="#">Test page</a></li>
                                            <li><a href="#">Test page</a></li>
                                        </div>
                                        <div class="one-third-col">
                                            <li><a href="#">Test page</a></li>
                                            <li><a href="#">Test page</a></li>
                                            <li><a href="#">Test page</a></li>
                                            <li><a href="#">Test page</a></li>
                                        </div>
                                    </div>

                                    <div class="row ad-style-right">
                                        <img src="~/App/img/ad480x120.jpg" />
                                    </div>
                                </ul>
                            </li>
                            <li><a>Exhibitors <i class="material-icons">keyboard_arrow_down</i></a></li>
                            <li><a>Hotel and Travel <i class="material-icons">keyboard_arrow_down</i></a></li>
                            <li><a>Contact <i class="material-icons">keyboard_arrow_down</i></a></li>
                        </ul>
                    </nav>
                </header>

                @RenderBody()
            </div>

            <footer>
                <div class="footer-container">
                    <div class="row">
                        <div class="two-col-even">
                            <img src="~/App/img/TAPPI-logo-white.png" width="150" />
                            <span>Copyright 2015 &copy; TAPPI</span>
                            <div class="row">
                                <ul>
                                    <li><a href="#">Antitrust Policy</a></li>
                                    <li><a href="#">More Information</a></li>
                                    <li><a href="#">Social Media Policy</a></li>
                                    <li><a href="#">TAPPI Community</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="two-col-even">

                        </div>
                    </div>
                </div>
            </footer>

            <!-- JS -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
            <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap" async defer></script>
            <script src="~/App/js/GoogleMapsConfig.js"></script>
            <script src="~/App/js/navigation.js"></script>
</body>
</html>