<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT HomeTemplate ANY>
<!ATTLIST HomeTemplate id ID #REQUIRED>

]>
<root id="-1">
  <HomeTemplate id="1053" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-08-17T16:04:58" updateDate="2015-08-17T16:29:19" nodeName="Test Event" urlName="test-event" path="-1,1053" isDoc="" nodeType="1052" creatorName="Colin McFadden" writerName="Colin McFadden" writerID="0" template="1051" nodeTypeAlias="HomeTemplate">
    <heroImage>1058</heroImage>
    <heroImageTitle><![CDATA[Test Event Location, 'Merica]]></heroImageTitle>
  </HomeTemplate>
</root>