<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT ChildTemplate ANY>
<!ATTLIST ChildTemplate id ID #REQUIRED>
<!ELEMENT HomeTemplate ANY>
<!ATTLIST HomeTemplate id ID #REQUIRED>

]>
<root id="-1">
  <HomeTemplate id="1053" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-08-17T16:04:58" updateDate="2015-09-15T16:27:40" nodeName="CorrExpo" urlName="correxpo" path="-1,1053" isDoc="" nodeType="1052" creatorName="Colin McFadden" writerName="Colin McFadden" writerID="0" template="1051" nodeTypeAlias="HomeTemplate">
    <introHeader><![CDATA[Super event for a superior industry]]></introHeader>
    <mainIntroContent><![CDATA[<p><span>Curabitur viverra gravida risus, et pellentesque nisi porttitor a. Fusce erat ligula, tincidunt quis dolor ut, vehicula dapibus tellus. Aenean et tellus vel libero tristique scelerisque. Donec cursus pretium nunc, eget accumsan sem feugiat eu. Vestibulum tempor sed purus nec tincidunt. Sed vel quam laoreet, scelerisque mi nec, suscipit elit. Ut id erat nec eros congue ornare. Donec arcu lectus, consectetur nec nunc accumsan, commodo consectetur nunc. Ut placerat lacinia odio, ullamcorper fermentum lacus lacinia sed. In est sem, viverra quis feugiat ac, lobortis in tortor. Nunc lobortis neque vitae nisl mollis convallis. Aliquam ullamcorper ipsum tempor lacus ultricies bibendum. Nulla aliquet dictum arcu, sit amet pretium mauris pharetra sed.</span> </p>
<p> </p>]]></mainIntroContent>
    <heroImage>1084</heroImage>
    <logo>1082</logo>
    <uiCards><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "UI Card Column",
          "areas": [
            {
              "grid": 4,
              "editors": [
                "headline"
              ],
              "allowAll": false,
              "allowed": [
                "macro"
              ],
              "controls": [
                {
                  "value": {
                    "macroAlias": "UICard",
                    "macroParamsDictionary": {
                      "cardContent": "Learn what how and why to attend CorrExpo. You are only limited by your cooperation.",
                      "cardImage": "1086",
                      "cardTitle": "Attend",
                      "linkOne": "http://www.tappi.org/",
                      "linkOneIcon": "info outline",
                      "linkOneTitle": "Learn More",
                      "linkTwo": "",
                      "linkTwoIcon": "",
                      "linkTwoTitle": ""
                    }
                  },
                  "editor": {
                    "name": "Macro",
                    "alias": "macro",
                    "view": "macro",
                    "render": null,
                    "icon": "icon-settings-alt",
                    "config": {}
                  }
                }
              ]
            },
            {
              "grid": 4,
              "controls": [
                {
                  "value": {
                    "macroAlias": "UICard",
                    "macroParamsDictionary": {
                      "cardContent": "View the Exhibitor Contract to learn more about exhibiting in an exhibit around other exhibitors. There is an Exhibitor List as well.",
                      "cardImage": "1085",
                      "cardTitle": "Exhibit",
                      "linkOne": "",
                      "linkOneIcon": "info outline",
                      "linkOneTitle": "Exhibitor Contract",
                      "linkTwo": "",
                      "linkTwoIcon": "list",
                      "linkTwoTitle": "Exhibit List"
                    }
                  },
                  "editor": {
                    "name": "Macro",
                    "alias": "macro",
                    "view": "macro",
                    "render": null,
                    "icon": "icon-settings-alt",
                    "config": {}
                  }
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "macro"
              ],
              "controls": [
                {
                  "value": {
                    "macroAlias": "UICard",
                    "macroParamsDictionary": {
                      "cardContent": "International Visitors are the bomb dot com. Learn how you can benefit and receive special group rates by hopping the pond to join us.",
                      "cardImage": "1087",
                      "cardTitle": "International Visitors",
                      "linkOne": "",
                      "linkOneIcon": "input",
                      "linkOneTitle": "Learn More",
                      "linkTwo": "",
                      "linkTwoIcon": "",
                      "linkTwoTitle": ""
                    }
                  },
                  "editor": {
                    "name": "Macro",
                    "alias": "macro",
                    "view": "macro",
                    "render": null,
                    "icon": "icon-settings-alt",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "styles": {},
          "config": {
            "class": "child-bg"
          },
          "id": "4f0bfb04-0976-99c3-6664-814585d1c95e"
        }
      ]
    }
  ]
}]]></uiCards>
    <ChildTemplate id="1068" parentID="1053" level="2" creatorID="0" sortOrder="0" createDate="2015-08-25T13:21:28" updateDate="2015-09-14T13:40:55" nodeName="About" urlName="about" path="-1,1053,1068" isDoc="" nodeType="1067" creatorName="Colin McFadden" writerName="Colin McFadden" writerID="0" template="1066" nodeTypeAlias="ChildTemplate">
      <additionalContent><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "One-Column",
          "areas": [
            {
              "grid": 12,
              "controls": [
                {
                  "value": "<p>Another test.</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "styles": {},
          "config": {
            "class": "child-bg"
          },
          "id": "f8a52ff7-6a8a-907e-a773-8d2a521d5d4c"
        }
      ]
    }
  ]
}]]></additionalContent>
      <mainContent><![CDATA[<h4>Learn New Things</h4>
<p>Use the "Paragraph Heading" format from the menu above for main content area headings. Use "Nested Header" and "Nested Heading 2" for subsequent content related to the main paragraph heading. It's not hard, but just something to keep in mind so everything stays in sync.</p>
<h5>Nested Header</h5>
<p>This is an example of the afformentioned "Nested Header".  It signifies this block of content is related to the parent header.</p>
<h6>Nested Header #2</h6>
<p>And finally, the most granular of headings. This is for use if the current paragraph is related to the content in the "Nested Header".</p>]]></mainContent>
      <programUpload><![CDATA[/media/1012/2015-ibbc_peers-reg-rates-for-web-2.xlsx]]></programUpload>
      <heroImage>1058</heroImage>
      <pageTitle><![CDATA[About CorrExpo]]></pageTitle>
      <subheaderText><![CDATA[We're making this year the best ever. Join more than 2,000 industry professionals and move forward in your career.]]></subheaderText>
    </ChildTemplate>
  </HomeTemplate>
  <HomeTemplate id="1093" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-09-14T12:04:10" updateDate="2015-09-16T11:00:17" nodeName="PaperCon" urlName="papercon" path="-1,1093" isDoc="" nodeType="1052" creatorName="Colin McFadden" writerName="Colin McFadden" writerID="0" template="1051" nodeTypeAlias="HomeTemplate">
    <introHeader><![CDATA[It's sooo  cool]]></introHeader>
    <mainIntroContent><![CDATA[<p>huw ru ru  bbbv bqr.</p>]]></mainIntroContent>
    <heroImage>1100</heroImage>
    <heroImageTitle><![CDATA[Cincinnati, Ohio, USA]]></heroImageTitle>
    <heroImageTagline><![CDATA[May 15-18, 2016]]></heroImageTagline>
    <logo><![CDATA[1101,1103]]></logo>
    <ChildTemplate id="1094" parentID="1093" level="2" creatorID="0" sortOrder="0" createDate="2015-09-14T12:05:08" updateDate="2015-09-15T15:46:24" nodeName="About" urlName="about" path="-1,1093,1094" isDoc="" nodeType="1067" creatorName="Colin McFadden" writerName="Colin McFadden" writerID="0" template="1066" nodeTypeAlias="ChildTemplate">
      <mainContent><![CDATA[<p>therhhhehhht th tr ht t t th t hth thth thth t hthth th thth th th hth t htrh thtr th th th t.</p>]]></mainContent>
      <heroImage>1102</heroImage>
      <pageTitle><![CDATA[About PaperCon 2016]]></pageTitle>
      <subheaderText><![CDATA[Find out more about this event.]]></subheaderText>
    </ChildTemplate>
  </HomeTemplate>
</root>