/*******************
    VARIABLES
********************/

// Color Scheme

$base-color: #075889; // ** ONLY CHANGE THIS TO CHANGE COLOR SCHEME ** //
$complimentary-base-color: #6ca6a5;
//$body-bg: #fdfcf6;
$body-bg: #fdfdfd;

$primary-color: $base-color;
$primary-color-light: lighten( $base-color, 10% );
$primary-color-light-more: lighten( $base-color, 30% );
$primary-color-dark: darken( $base-color, 10% ); 

$complimentary-color: $complimentary-base-color;
$complimentary-color-light: lighten( $complimentary-base-color, 10% );
$complimentary-color-light-more: lighten( $complimentary-base-color, 40% );
$complimentary-color-darken: darken( $complimentary-base-color, 10% );


$font-highlight-color: #6ca6a5;

// Fonts

$font-color: #333;

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: $font-highlight-color;
}

::selection {
    color: #fff;
    background: $font-highlight-color;
}

// links

$links: $primary-color-dark;
$links-hover: $primary-color-light;

// Image Cards

$image-card-text-bg: #fff;
$image-card-action-bg: #f3f4ef;


// Object drop shadow
$drop-shadow-default: rgba(0, 0, 0, 0.16);