@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var rootNode = CurrentPage.AncestorOrSelf(1);
    var logo = Umbraco.Media(rootNode.logo);
    
}
<h1 class="logo">
    <img src="@logo.Url" width="150" alt="@rootNode.Name " />
</h1>