@inherits Umbraco.Web.Macros.PartialViewMacroPage

<section class="nav-container">
    <ul class="nav tab-nav">
        <li><a class="tab-logo" href="http://www.tappi.org/" target="_blank"><img src="~/App/img/TAPPI_logo.png" width="100" /></a></li>
        <li>
            <div class="dropdown">
                <button class="btn-action dropdown-toggle" type="button" id="sitesDropdown" data-toggle="dropdown" aria-haspopup="true">
                    Other TAPPI Websites
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="sitesDropdown">
                    <li><span class="dropdown-title">Events</span></li>
                    <li><a href="/media/1049/2016-calendar-of-events.pdf" target="_blank">TAPPI Event Calendar (PDF)</a></li>
                    <li><a href="http://www.papercon.org/" target="_blank">PaperCon 2016</a></li>
                    <li><a href="http://www.supercorrexpo.org/" target="_blank">SuperCorrExpo 2016</a></li>
                    <li><a href="http://events.tappiplace.org/" target="_blank">PLACE 2016</a></li>
                    <li><a href="http://www.tappisrw.org/" target="_blank">SRW Workshop 2016</a></li>
                    <li><a href="http://conference.tappinano.org/" target="_blank">International Conference on Nanotechnology 2016</a></li>
                </ul>
            </div>
        </li>
    </ul>
</section>
